/cmake-build-debug/
/.idea/modules.xml
/.idea/misc.xml
/.idea/.gitignore
/.idea/progetto_lista_spesa.iml
/.idea/vcs.xml
/cmake-build-debug-event-trace/
/test/lib/googletest/.clang-format
/test/lib/googletest/.gitignore
/test/lib/googletest/.github/
/test/lib/googletest/docs/
/test/lib/googletest/googlemock/
/test/lib/googletest/BUILD.bazel
/test/lib/googletest/googletest/


/test/lib/googletest/WORKSPACE
/test/lib/googletest/ci/windows-presubmit.bat
/test/lib/googletest/CONTRIBUTING.md
/test/lib/googletest/CONTRIBUTORS
/test/lib/googletest/LICENSE
/test/lib/googletest/ci/linux-presubmit.sh
/test/lib/googletest/ci/macos-presubmit.sh
/test/lib/googletest/README.md
